<div class="card" style="width: 18rem">
	<div class="card-body">
		<h5 class="card-title"><%= command.aliases[0] %></h5>
		<% if (command.description) { %>
		<p class="card-text"><%= command.description %></p>
		<% } %>
	</div>
	<ul class="list-group list-group-flush">
		<% if (command.aliases.length > 1) { %>
		<li class="list-group-item">
			<b>Aliases:</b>
			<!--prettier-ignore-->
			<% for (let aliasI = 1; aliasI < command.aliases.length; aliasI++) { %>
			<code><%= command.aliases[aliasI] %></code>
			<!--prettier-ignore-->
			<% } %>
		</li>
		<% } %> <% if (command.formattedCooldown) { %>
		<li class="list-group-item">
			<b>Cooldown:</b> <%= command.formattedCooldown %>
		</li>
		<% } %> <% if(command.userPermissions) { %>
		<li class="list-group-item">
			<b>User Permissions:</b>
			<!--prettier-ignore-->
			<% for (let uPermissionI = 0; uPermissionI < command.userPermissions.length; uPermissionI++) { %>
			<code><%= command.userPermissions[uPermissionI] %></code>
			<!--prettier-ignore-->
			<% } %>
		</li>
		<% } %> <% if(command.clientPermissions) { %>
		<li class="list-group-item">
			<b>Bot Permissions:</b>
			<!--prettier-ignore-->
			<% for (let cPermissionI = 0; cPermissionI < command.clientPermissions.length; cPermissionI++) { %>
			<code><%= command.clientPermissions[cPermissionI] %></code>
			<!--prettier-ignore-->
			<% } %>
		</li>
		<% } %> <% if(command.nsfw) { %>
		<li class="list-group-item"><b>NSFW:</b> Yes</li>
		<% } %> <% if(command.modOnly) { %>
		<li class="list-group-item"><b>Mod Only:</b> Yes</li>
		<% } %> <% if(command.ownerOnly) { %>
		<li class="list-group-item"><b>Owner Only:</b> Yes</li>
		<% } %>
		<li class="list-group-item">
			<b>Usage:</b> <code><%= command.usage %></code>
		</li>
	</ul>
</div>
