<script>
	var head = document.getElementsByTagName("head")[0];
	head.innerHTML =
		head.innerHTML +
		`<meta property="og:url" content="${window.location.href}" />`;
</script>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Commands | <%= username %></title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="/static/styles/commands.css"
		/>
		<link rel="shortcut icon" type="image/webp" href="<%= avatar %>" />
		<meta property="og:title" content="Commands" />
		<meta property="og:site_name" content="<%= username %>" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="<%= avatar %>" />
		<meta
			property="og:description"
			content="Commands List for the <%= username %> Discord Bot"
		/>
	</head>
	<body>
		<%- include("../components/header.ejs") %>
		<script>
			document
				.getElementById("nav-commands-button")
				.classList.add("active");
		</script>
		<div class="container">
			<h1>Commands</h1>

			<div id="categories">
				<div id="category-buttons">
					<!--prettier-ignore-->
					<% for(let categoryI = 0; categoryI < categories.length; categoryI++) { %>
					<a
						id="<%= categories[categoryI][0].categoryID %>-button"
						class="category-link"
						href="/commands/<%= categories[categoryI][0].categoryID %>"
						><%= categories[categoryI][0].categoryID %></a
					>
					<% } %>
					<script>
						document
							.getElementById(
								"<%= category[0].categoryID %>-button"
							)
							.classList.add("active");
					</script>
				</div>
				<div id="commands">
					<div class="row justify-content-center">
						<!--prettier-ignore-->
						<% for(let commandI = 0; commandI < category.length; commandI++) { %>
						<div
							id="<%= category[commandI].id %>"
							class="col-md-auto"
						>
							<%- include("../components/command.ejs", { command:
							category[commandI]}) %>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
		<%- include("../components/footer.ejs") %>
	</body>
</html>
