<script>
	var head = document.getElementsByTagName("head")[0];
	head.innerHTML =
		head.innerHTML +
		`<meta property="og:url" content="${window.location.href}" />`;
</script>
<head>
	<meta charset="utf-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<title>Commands | <%= username %></title>
	<link rel="stylesheet" type="text/css" href="/styles/commands.css" />
	<link rel="shortcut icon" type="image/webp" href="<%= avatar %>" />
	<meta property="og:title" content="Commands" />
	<meta property="og:site_name" content="<%= username %>" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="<%= avatar %>" />
	<meta
		property="og:description"
		content="Commands List for the <%= username %> Discord Bot"
	/>
</head>
<body>
	<%- include("../components/header.ejs") %>
	<script>
		document.getElementById("navbar-commands-link").classList.add("active");
	</script>
	<div class="container-fluid">
		<div class="row">
			<nav
				id="sidebarMenu"
				class="
					sidebar-sticky
					col-md-3 col-lg-2
					d-md-block
					sidebar
					collapse
				"
			>
				<div class="position-sticky pt-3">
					<% for( let i = 0; i < categories.length; i++ ) { %> <%
					if(categories[i][0]) { %>
					<h6
						class="
							sidebar-heading
							d-flex
							justify-content-between
							align-items-center
							px-3
							mt-4
							mb-1
							text-muted
						"
					>
						<span
							><a
								href="/commands/<%= categories[i][0].categoryID %>"
								style="color: inherit; text-decoration: none"
								><%= categories[i][0].categoryID %></a
							></span
						>
						<a
							class="link-secondary"
							href="#"
							aria-label="Add a new report"
						>
							<span data-feather="plus-circle"></span>
						</a>
					</h6>
					<ul class="nav flex-column mb-2">
						<% for( let index = 0; index < categories[i].length;
						index++ ) { %>
						<li class="nav-item">
							<!--
                                Don't worry, the onclick still works, and this doesn't break anything despite what your
                                IDE says.
                            -->
							<a
								class="nav-link command-button"
								href="/commands/<%= categories[i][index].categoryID %>/<%= categories[i][index].id %>"
							>
								<span data-feather="file-text"></span>
								<%=
								categories[i][index].aliases[0].charAt(0).toUpperCase()
								+ categories[i][index].aliases[0].slice(1) %>
							</a>
						</li>
						<% } %>
					</ul>
					<% } %> <% } %>
				</div>
			</nav>

			<main
				id="content-container"
				class="col-md-9 ms-sm-auto col-lg-10 px-md-4"
			>
				<!-- prettier-ignore -->
				<% if (!command) { %>
					<%- include('../components/category.ejs') %>
				<% } else { %>
					<%- include('../components/command.ejs') %>
				<% } %>
			</main>
		</div>
	</div>
</body>
