<script>
	var head = document.getElementsByTagName("head")[0];
	head.innerHTML =
		head.innerHTML +
		`<meta property="og:url" content="${window.location.href}" />`;
</script>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>Home | <%= username %></title>
		<link rel="stylesheet" type="text/css" href="/static/styles/home.css" />
		<link rel="shortcut icon" type="image/webp" href="<%= avatar %>" />
		<meta property="og:title" content="Home" />
		<meta property="og:site_name" content="<%= username %>" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="<%= avatar %>" />
		<meta property="og:description" content="A Utility bot with Verification, Music, Tickets, a
					Starboard, and more." />
	</head>
	<body>
		<%- include("../components/header.ejs") %>
		<script>
			document.getElementById("nav-home-button").classList.add("active");
		</script>
		<div id="container" class="container-fluid">
			<div id="inspirational">
				<h1 class="bot-username"><%=username %></h1>
				<h3>
					A Utility bot with Verification, Music, Tickets, a
					Starboard, and more.
				</h3>
				<a href="/wiki" class="btn btn-outline-primary inspirational-button"
					>Read Wiki</a
				>
				<a
					href="<%= invite %>"
					class="btn btn-primary inspirational-button"
					>Invite to Server</a
				>
				<a
					href="<%= support %>"
					class="btn btn-outline-primary inspirational-button"
					>Get Support</a
				>
			</div>

			<div id="features">
				<h1>Features</h1>
				<hr />
				<div class="row feature-row justify-content-center">
					<div class="col col-lg-2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Verification</h5>
								<p class="card-text">
									Ensure that new Members are human, and
									identify alternate accounts.
								</p>
								<a
									href="/wiki/Features/Verification"
									class="btn btn-primary"
									>Learn More</a
								>
							</div>
						</div>
					</div>
					<div class="col col-lg-2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Moderation</h5>
								<p class="card-text">
									Filter Words, Purge Messages, Mute Members, Ban Members,
									Kick Members, and more.
								</p>
								<a
									href="/wiki/Features/Moderation"
									class="btn btn-primary"
									>Learn More</a
								>
							</div>
						</div>
					</div>
					<div class="col col-lg-2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Tickets</h5>
								<p class="card-text">
									Easily handle support tickets in private
									channels with your Members & Support Team.
								</p>
								<a
									href="/wiki/Features/Ticketing"
									class="btn btn-primary"
									>Learn More</a
								>
							</div>
						</div>
					</div>
					<div class="col col-lg-2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Logging</h5>
								<p class="card-text">
									Log events in your server cleanly with
									embeds that show everything.
								</p>
								<a
									href="/wiki/Features/Logging"
									class="btn btn-primary"
									>Learn More</a
								>
							</div>
						</div>
					</div>
					<div class="col col-lg-2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Starboard</h5>
								<p class="card-text">
									React with a ⭐! Great for "pinning"
									messages into a special channel.
								</p>
								<a
									href="/wiki/Features/Starboard"
									class="btn btn-primary"
									>Learn More</a
								>
							</div>
						</div>
					</div>
				</div>
			</br>
				<div class="row feature-row justify-content-center">
					<div class="col col-lg-2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">XP</h5>
								<p class="card-text">
									A fun way to measure Member activity in your
									Server!
								</p>
							</div>
						</div>
					</div>
					<div class="col col-lg-2">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Economy</h5>
								<p class="card-text">
									A basic economy system that runs on Coins!
									Earn coins from recieving them from other
									Members, Trivia, and more!
								</p>
							</div>
						</div>
					</div>
				</div>
				<div id="bottom-section">
					<h1 id="bottom-title">What are you waiting for?</h1>
					<h4>Add <%= username %> to your Server today!</h4>
					<a
					href="<%= invite %>"
					class="btn btn-primary inspirational-button"
					>Invite to Server</a
				>
				</div>
			</div>
		</div>
		<%- include("../components/footer.ejs") %>
	</body>
</html>
