<script>
	var head = document.getElementsByTagName("head")[0];
	head.innerHTML =
		head.innerHTML +
		`<meta property="og:url" content="${window.location.href}" />`;
</script>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>Home | <%= username %></title>
		<link rel="stylesheet" type="text/css" href="/static/styles/home.css" />
		<link rel="shortcut icon" type="image/webp" href="<%= avatar %>" />
		<meta property="og:title" content="Home" />
		<meta property="og:site_name" content="<%= username %>" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="<%= avatar %>" />
		<meta
			property="og:description"
			content="Homepage for the <%= username %> Discord Bot"
		/>
	</head>
	<body>
		<%- include("../components/header.ejs") %>
		<script>
			document.getElementById("navbar-home-link").classList.add("active");
		</script>
		<div id="container">
			<div id="card">
				<img src="<%= avatar %>" class="avatar" />
				<h1 class="card-text"><%= username %></br><div id="description">A powerful utility bot for Discord.
</div></h1>
			</div>

			<div id="buttons">
				<a href="<%= invite %>" class="btn btn-primary" type="button"
				>Add to Discord</a
			> 
			<a href="/commands" class="btn btn-primary" type="button"
				>View all Commands</a
			>
			<a href="/wiki" class="btn btn-primary" type="button"
				>Read the Wiki</a
			> 
			<a href="<%= support %>" class="btn btn-primary" type="button"
				>Get Support</a
			>
			
			</div>

			<div id="stats">
				<h1>Statistics</h1>
			</br>
				<h3>Servers: <%= totalServers %></h3>
				<h3>Users: <%= totalUsers %></h3>
			</div>
			
			<%- include("../components/footer.ejs") %>
		</div>
	</body>
</html>
