<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>Home | <%= username %></title>
		<link rel="stylesheet" type="text/css" href="/styles/home.css" />
		<link rel="shortcut icon" type="image/webp" href="<%= avatar %>" />
	</head>
	<body>
		<%- include("../components/header.ejs") %>
		<script>
			document.getElementById("navbar-home-link").classList.add("active");
		</script>
		<div id="container">
			<img src="<%= avatar %>" class="avatar" />
			<h1><%= username %></h1>
			<h2>A Discord Bot that aims to meet all of your needs!</h2>
			<br />
			<h4>Servers: <%= totalServers %></h4>
			<a href="<%= invite %>" class="btn btn-primary" type="button"
				>Invite</a
			>
			<a href="<%= support %>" class="btn btn-primary" type="button"
				>Support</a
			>
			<%- include("../components/footer.ejs") %>
		</div>
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
			crossorigin="anonymous"
		></script>
	</body>
</html>
