<script>
	var head = document.getElementsByTagName("head")[0];
	head.innerHTML =
		head.innerHTML +
		`<meta property="og:url" content="${window.location.href}" />`;
</script>
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>Verify your account | <%= username %></title>
		<link rel="stylesheet" type="text/css" href="/static/styles/verify.css" />
        <link rel="shortcut icon" type="image/webp" href="<%= avatar %>"/>
        <meta property="og:title" content="Verify" />
		<meta property="og:site_name" content="<%= username %>" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="<%= avatar %>" />
</head>
<body>
    <%- include("../components/header.ejs") %>
    <div class="container" >
        <% if (verified == true) { %>
    <h1 class="bigtitle">Verified Successfully</h1>
    <h3>You can now close this window</h3>
<% } else if (error) { %>
    <h1><%= error %></h1>
    </br>
    <h2>Please try again</h2>
<% } else if (redirectUri) { %>
    <h1 class="bigtitle">Member Verification</h1> </br>
    <h4>Please link your Discord account to <%= username %> to continue,</br> you an learn about the verification system <a href="/wiki/Features/Verification">here</a>.</h4> </br>
    <a href="<%= redirectUri %>" class="btn btn-primary" type="button"
				>Verify</a
			>
<% } else { %>
    <head>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>

    <script>
        function submitForm() {
            var form = document.getElementById("captcha-container");
            form.submit();
        }
    </script>
    <h1 class="bigtitle">Member Verification</h1>
    <h4>Please complete the captcha to continue</h4>
    <form id="captcha-container" action="" method="POST">
        <div
            name="g-recaptcha-response"
            class="g-recaptcha"
            data-sitekey="<%= siteKey %>"
            data-callback="submitForm"
            data-theme="dark"
        ></div>
        <input type="hidden" name="state" value="<%= state %>" />
        <input type="hidden" name="id" value="<%= id %>" />
    </form>
    Logged in as: <br>
    <%= user.username %>#<%= user.discriminator %>
<% } %>
    </div>
    <%- include("../components/footer.ejs") %>

</body>
</html>