<script>
	var head = document.getElementsByTagName("head")[0];
	head.innerHTML =
		head.innerHTML +
		`<meta property="og:url" content="${window.location.href}" />`;
</script>
<head>
	<meta charset="utf-8" />
	<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
	<title>Wiki | <%= username %></title>
	<link rel="stylesheet" type="text/css" href="/static/styles/wiki.css" />
	<link rel="shortcut icon" type="image/webp" href="<%= avatar %>" />
	<meta property="og:title" content="Wiki" />
		<meta property="og:site_name" content="<%= username %>" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="<%= avatar %>" />
		<meta
			property="og:description"
			content="Wiki for the <%= username %> Discord Bot"
		/>
</head>
<body>
	<%- include("../components/header.ejs") %>
	<script>
		document.getElementById("navbar-wiki-link").classList.add("active");
	</script>
	<div class="container-fluid">
		<div class="row">
			<nav
				id="sidebarMenu"
				class="
					sidebar-sticky
					col-md-3 col-lg-2
					d-md-block
					sidebar
					collapse
				"
			>
				<div class="position-sticky pt-3">
					<% for( let i = 0; i < categories.length; i++ ) { %>
						<% if (categories[i].name) { %>
					<h6
						class="
							sidebar-heading
							d-flex
							justify-content-between
							align-items-center
							px-3
							mt-4
							mb-1
							text-muted
						"
					>
						<span
							><a><%= categories[i].name %></a></span
						>
					</h6>
					<% } %>
					<ul class="nav flex-column mb-2" style="list-style-type: none;">
						<% for( let index = 0; index < categories[i].files.length;
						index++ ) { %>
						<li class="nav-item" style="list-style-type: none;">
							<a
								class="nav-link wiki-button"
								href="/wiki/<%= categories[i].file ? `${categories[i].file}/` : "" %><%= categories[i].files[index].file.replace(".ejs", "") %>"
							>
								<span data-feather="file-text"></span>
								<%= categories[i].files[index].name %>
							</a>
						</li>
					
					<% } %> </ul> <% } %>
				</div>
			</nav>

			<main
				id="content-container"
				class="col-md-9 ms-sm-auto col-lg-10 px-md-4"
			>
				<%- include(page) %>
			</main>
		</div>
	</div>
	<%- include("../components/footer.ejs") %>
</body>
