<h1>Verification</h1>
The Verification system is one of the best! It uses Cookies and IP Addresses to
identify alternate accounts, and is very easy to set up.
</br> </br>
<h3>Setup</h3>

All setup is done with the
<code
	><a href="/commands/Configuration/verification" 
		><%= prefix %>verification</a
	></code
>
command, and it's subcommands.

<ol>
	<li>Create a special "verified" role, and give it the permissions that you deem nessary, note that members will need a channel to type <code><a href="/commands/Utility/verify" 
		><%= prefix %>verify</a></code> to start the verification process.</li>
	<li>Set your verified role with <code><%= prefix %>verification role &lt;value&gt;</code>, this will be the value that users will be given after verification.</li>
	<li>Set your verification level with <code><%= prefix %>verfication level &lt;value&gt;</code>, see subcommands below for avaliable values</li>
	<li>Enable verification with <code><%= prefix %>verification enable</code>, this will allow members to use the <code><a href="/commands/Utility/verify" 
		><%= prefix %>verify</a></code> command.</li>
</ol>

</br> A quick overview of all subcommands below. </br> </br>
<h5>Subcommands</h5>
<ul>
	<li><code>enable</code> Enables Verification</li>
	<li><code>disable</code> Disables Verification</li>
	<li><code>level &lt;value&gt;</code> Changes the Verification Level</li>
	<dl>
		<dt>Levels</dt>
		<dt><code>strict</code></dt>
		<dd>Ban all alternate accounts</dd>
		<dt><code>medium</code></dt>
		<dd>
			Ban all alternate accounts that have an active punishment (like
			mute, or ban)
		</dd>
		<dt><code>low</code></dt>
		<dd>
			Take no action against alternate accounts, use this if you only want
			to present a CAPTCHA to users, the default
		</dd>
	</dl>
	<li><code>role &lt;role&gt;</code> Set the role that verified users will be given after completing verification</li>
</ul>

<h3>Preview</h3>
</br> </br>
<img src="/static/img/verification/usage.gif" alt="Verification Usage" height="500px" />